  <div class="login-main">
                <div class="login-sub">
                    <div>
                        <!-- <label></label>
                        <div>
                            <input type="text" class="form-control" id="" name="" placeholder="" required>
                        </div>
                        <div>
                            <input type="text" class="" id="" name="" placeholder="" required>
                        </div> -->


                        <div class="login-container">
                            <h2>LOGIN</h2>
                            <input  class="form-control" type="email" placeholder="EMAIL" />
                            <input  class="form-control" type="password" placeholder="PASSWORD" />

                            <button class="login-btn">SIGN IN</button>
                            <a class="forgot">FORGOT YOUR PASSWORD?</a>

                            <a href="" class="login-btn register">REGISTER AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
            </div>