<div class="header-margin"></div>

<div class="collection-main">
  <div class="collection-grid">
    <div *ngFor="let product of products; let i = index">
      <div class="image-hover-wrapper">
         <!-- <div class="image-hover-wrapper">
                <img [src]="product.defaultImg" alt="Normal" class="img-default">
                <img [src]="product.defaultImg" alt="On Hover" class="img-hover">
          </div> -->
        <!-- Click redirects to ProductComponent with product index -->
        <a [routerLink]="['/product']">
          <img [src]="product.defaultImg" alt="Normal" class="img-default">
          <img [src]="product.hoverImg" alt="On Hover" class="img-hover">
        </a>
      </div>
      <div class="product-detail-section">
        <p >{{ product.brand }}</p>
        <p >{{ product.name }}</p>
        <p >Rs. {{ product.price }}</p>
      </div>
    </div>
  </div>
</div>
