<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>CUSTOMER SERVICE</h4>
        <ul>
          <li><a [routerLink]="'/contact'">Contact Us</a></li>
          <li><a [routerLink]="'/size-chart'">Size Guide</a></li>
          <li><a [routerLink]="'/faq'">FAQ</a></li>
          <!-- <li><a href="#">Terms & Conditions</a></li> -->
          
        </ul>
      </div>
      <div class="footer-section">
        <h4>COMPANY</h4>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <!-- <li><a href="#">Press</a></li>
          <li><a href="#">Sustainability</a></li> -->
        </ul>
      </div>
      <div class="footer-section">
        <h4>CONNECT</h4>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>LEGAL</h4>
        <ul>
    <li><a [routerLink]="'/privacy'">Privacy Policy</a></li>
          <li><a [routerLink]="'/terms'">Terms of Service</a></li>
          <li><a [routerLink]="'/cookies'">Cookie Policy</a></li>
          <li><a [routerLink]="'/collection'">collection</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 BW. All rights reserved.</p>
    </div>
  </div>
</footer>
