<div class="header-margin"></div>

<div class="product-detail-main">
  <div class="product-container">
    
    <!-- Product Images -->
    <div class="product-images">
      <img *ngFor="let img of product.images" [src]="img" alt="Product Image">
    </div>

    <!-- Product Details -->
    <div class="product-details">
      <div class="brand">{{ product.brand }}</div>
      <div class="title">{{ product.title }}</div>
      <div class="price">Rs. {{ product.price }}</div>

      <!-- Color & Size -->
      <div>
        <select>
          <option *ngFor="let color of product.colors">{{ color }}</option>
        </select>
        <select>
          <option *ngFor="let size of product.sizes">{{ size }}</option>
        </select>
      </div>

      <button class="bw-btn" (click)="addToCart()" >Add to Cart</button>

      <!-- Description -->
      <div class="description">
        {{ product.description }}
      </div>

      <!-- Collapsible Sections -->
      <div class="collapsible" *ngFor="let item of collapsibles" (click)="toggleCollapsible(item)">
        <h4>{{ item.title }} {{item.open}}</h4>
        <p *ngIf="item.open">{{ item.content }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Suggestions -->
<div class="suggestion-product-section">
  <p>YOU MAY ALSO LIKE</p>
  <div class="carousel-gird" #suggestSlider (mouseenter)="pauseSuggest()" (mouseleave)="resumeSuggest()">
    <div class="carousel-gird-item" *ngFor="let suggestion of suggestions; let i = index">
      <div>
        <img [src]="suggestion.img" />
        <div>
          <p>{{ suggestion.brand }}</p>
          <p>{{ suggestion.name }}</p>
          <p>{{ suggestion.price }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-nav">
    <button class="carousel-btn" (click)="scrollSuggest('prev')">Prev</button>
    <div class="dots">
      <span *ngFor="let s of suggestions; let i = index" [class.active]="i === suggestIndex" (click)="goToSuggest(i)"></span>
    </div>
    <button class="carousel-btn" (click)="scrollSuggest('next')">Next</button>
  </div>
</div>

<app-cart-popup
  [isVisible]="cartVisible"
  [cartItems]="cartItems"
  (close)="cartService.hideCart()">
</app-cart-popup>
