<div class="product-detail-main">
  <div class="product-container">
    
    <!-- Product Images -->
    <div class="product-images">
      <img *ngFor="let img of product.images" [src]="img" alt="Product Image">
    </div>

    <!-- Product Details -->
    <div class="product-details">
      <div class="brand">{{ product.brand }}</div>
      <div class="title">{{ product.title }}</div>
      <div class="price">{{ product.price }}</div>

      <!-- Color & Size -->
      <div>
        <select>
          <option *ngFor="let color of product.colors">{{ color }}</option>
        </select>
        <select>
          <option *ngFor="let size of product.sizes">{{ size }}</option>
        </select>
      </div>

      <button class="bw-btn" (click)="addToCart()" >Add to Cart</button>

      <app-cart-popup
  [isVisible]="cartVisible"
  [cartItems]="cartItems"
  (close)="cartVisible = false">
</app-cart-popup>

      <!-- Description -->
      <div class="description">
        {{ product.description }}
      </div>

      <!-- Collapsible Sections -->
      <div class="collapsible" *ngFor="let item of collapsibles" (click)="item.open = !item.open">
        <h4>{{ item.title }}</h4>
        <p *ngIf="item.open">{{ item.content }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Suggestions -->
<div class="suggestion-product-section">
  <p>YOU MAY ALSO LIKE</p>
  <div class="carousel-gird">
    <div class="carousel-gird-item" *ngFor="let suggestion of suggestions">
      <div>
        <img [src]="suggestion.img" />
        <div>
          <p>{{ suggestion.brand }}</p>
          <p>{{ suggestion.name }}</p>
          <p>{{ suggestion.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
